{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "8.4.0"
                }
            }
        ],
        "@babel/preset-typescript"
    ]
}